@import "bootstrap.min.css";
@import "extra.css";

/* 
 * Openlayers styles
 */
.map {
    width : 768px;
    height : 768px;
}

.map img {
    max-width: none;    
}

#tags {
    display: none;
}

#docs p {
    margin-bottom: 0.5em;
}
